:root {
    font-family: 'Epilogue', sans-serif;
}

body,
p,
h1 {
    margin: 0;
    padding: 0;
    color: #eff5ff;
}

.head {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    border-bottom: 2px solid #81b0ff;
    background-color: #eff5ff;
}

.nav {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.nav-list {
    text-decoration: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-li {
    display: inline-block;
    color: #272f07;
    transition: color 0.5s ease;
}

.logo {
    color: #272f07;
    transition: color 0.5s ease;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    position: absolute;
    top: 5px;
    right: 20px;
    justify-content: center;
    align-items: center;
}

.nav-li:hover,
.logo:hover {
    color: #7c68ff;
    cursor: pointer;
}

.main-section {
    height: 100vh;
    background-color: #b4d0ff;
}

.main-photo {
    border: 5px dotted #eff5ff;
    border-radius: 10px;
    margin: 100px;
}

.main-first-container {
    position: absolute;
    bottom: 400px;
    right: 300px;
    border: 5px dotted #eff5ff;
    border-radius: 10px;
    padding: 10px;
    background-color: #b4d0ff;
}

.main-second-container {
    position: absolute;
    bottom: 300px;
    right: 200px;
    border: 5px dotted #eff5ff;
    border-radius: 10px;
    padding: 10px;
    background-color: #b4d0ff;
}

.main-third-container {
    position: absolute;
    bottom: 200px;
    right: 250px;
    border: 5px dotted #eff5ff;
    border-radius: 10px;
    padding: 10px;
    background-color: #b4d0ff;
}

.main-text {
    width: 360px;
    margin-top: 10px;
}

.second-section {
    height: 100vh;
    background-color: #9bc0ff;
}

.second-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 764px;
}

.second-photo {
    border: 5px dotted #eff5ff;
    border-radius: 10px;
}

.second-first-container {
    position: absolute;
    bottom: -300px;
    right: 950px;
    border: 5px dotted #eff5ff;
    border-radius: 10px;
    padding: 10px;
    background-color: #9bc0ff;
}

.second-second-container {
    position: absolute;
    bottom: -400px;
    right: 100px;
    border: 5px dotted #eff5ff;
    border-radius: 10px;
    padding: 10px;
    background-color: #9bc0ff;
}

.third-section {
    height: 100vh;
    background-color: #68a0ff;
}

.third-head,
.fourth-head {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 48px;
}

.team-container,
.fourth-container {
    margin-top: 50px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.fourth-section {
    height: 50vh;
    background-color: #4f90ff;
}

.fourth-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    gap: 40px;
}

.fourth-li {
    flex-basis: calc(20% - 24px);
    cursor: pointer;
}

.li-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff5ff;
    border: 2px solid #eff5ff;
    box-shadow: -2px -2px 15px -2px #eff5ff;
    border-radius: 20px;
}

footer {
    height: 50vh;
    background-color: #3580ff;
}

.foot-one {
    display: flex;
    align-items: center;
}

.footer-logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0px 0px 100px;
}

.footer-logo {
    font-size: 24px;
    margin-right: 10px;
}

.contacts,
.links {
    margin-left: 100px;
}

h3 {
    color: #eff5ff;
    margin: 0;
    margin-top: 20px;
}

.terms {
    margin-top: 20px;
}

.contacts p,
.privace {
    margin-top: 10px;
}

.subscribe {
    margin-right: 100px;
    margin-left: auto;
    margin-top: 50px;
}

.input-email {
    display: flex;
}

input {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-width: 2px;
    border-color: #c2d9ff;
    background-color: #eff5ff;
    color: #000000;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(239, 245, 255, .75);
    text-shadow: 0px 0px 0px rgba(66, 66, 66, .75);
}

input:focus {
    outline: none;
}

.btn {
    font-weight: 400;
    font-size: 14px;
    color: #eff5ff;
    background-color: #81b0ff;
    padding: 10px 20px;
    border: solid #68a0ff 2px;
    box-shadow: rgba(239, 245, 255, .75) 0px 0px 25px 0px;
    border-radius: 50px;
    transition: 828ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
    margin-left: 10px;
    margin-top: 10px;
}

.btn:hover {
    transition: 828ms;
    padding: 10px 20px;
    transform: translateY(-0px);
    background-color: #eff5ff;
    color: #81b0ff;
    border: solid 2px #81b0ff;
}

.error,
.success-message {
    margin-top: 5px;
}